.toast {
  position: fixed;
  top: 20px; /* no topo */
  left: 50%;
  transform: translateX(-50%) translateY(0); /* centralizado horizontal */
  max-width: 90%; /* responsivo */
  padding: 16px 16px;
  border-radius: 999px;
  font-weight: bold;
  color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  animation: slideDown 0.5s forwards, fadeOut 0.5s 2.5s forwards;
  z-index: 9999;

  /* Centraliza o texto */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* tipos */
/*.toast-success { background-color: #4caf50; } */
.toast-error { background-color: #f44336; }
.toast-info { background-color: #2196f3; }
.toast-warn { background-color: #ff9800; }

/* animações */
@keyframes slideDown {
  from { transform: translateX(-50%) translateY(-50px); }
  to { transform: translateX(-50%) translateY(0); }
}

@keyframes fadeOut {
  to { opacity: 0; transform: translateX(-50%) translateY(-20px); }
}
