@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* --background: #D8DDE9; */
  /* --fore-back:    #F8FBFD; */
  /* --foreground:  #F2F7FA; */
  --foreground:  #FFFFFF;
  --bg-component: #FFFFFF;
  --text-default: black;
  --bg-subTitle: #FDFDFD;
  --text-menu: white;

  --logo1: #18172C;
  --logo2: #FF9900;
  --input-default: white;

  --button-red-default: #E74C3C; /* Vermelho Cereja */
  --button-red-hover: #EC7063;
  --button-red-focus: #C0392B;
  --button-red-pressed: #CD4235;
  --button-red-disabled: #FADBD8;
  --button-red-progress: #E56357;

  --button-green-default: #2ECC71; /* Verde Esmeralda */
  --button-green-hover: #58D683;
  --button-green-focus: #27AE60;
  --button-green-pressed: #28B463;
  --button-green-disabled: #A9DFBF;
  --button-green-progress: #52BE80;

  --button-gray-default: #95A5A6; /* Cinza Neutro */
  --button-gray-hover: #AABEB2;
  --button-gray-focus: #7F8C8D;
  --button-gray-pressed: #88999A;
  --button-gray-disabled: #D5DBDB;
  --button-gray-progress: #BFC9CA;

  --button-blue-default: #3498DB;
  --button-blue-hover: #5DADE2;
  --button-blue-focus: #2E86C1;
  --button-blue-pressed: #2874A6;
  --button-blue-disabled: #A9CCE3;
  --button-blue-progress: #5DADE2;

  --button-orange-default: #FF9900;
  --button-orange-hover: #FFB84D;
  --button-orange-focus: #CC7A00;
  --button-orange-pressed: #D98500;
  --button-orange-disabled: #FFDDAA;
  --button-orange-progress: #FFC066;

  --button-pink-default: "#E83E8C";
  --button-pink-hover: "#F06292"; 
  --button-pink-focus: "#C2185B";
  --button-pink-pressed: "#D81B60"; 
  --button-pink-disabled: "#FCE4EC";
  --button-pink-progress: "#EC407A";

}


.dark body {
    /* --background: #282841; */
  /*  --fore-back:  #202037 ; */
   /*  --foreground: #18172C; */
     /* fundo escuro */
  --background: #18172C;
  --foreground: #18172C;
;
  --bg-component: #1F1E31;
  --text-default: white;     /* texto principal claro */ /* roxo mais escuro para hover */
  --bg-subTitle: #2A2A2A;    /* fundo secundário escuro */
  /*--text-menu: black; */

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4); /* Cor principal da barra */
    border-radius: 10px; /* Opcional: cantos arredondados no thumb */
  }
}

.btn-purple body {
  --button-default: #9B59B6;   /* Roxo Amethyst */
  --button-hover: #AF7AC5;     /* Roxo claro para o hover */
  --button-focus: #8E44AD;     /* Roxo mais escuro para o focus */
  --button-pressed: #82589F;   /* Um tom um pouco mais escuro que o padrão para o estado pressionado */
  --button-disabled: #D2B4DE;  /* Roxo bem claro para o estado desabilitado */
  --button-progress: #BB8FCE;  /* Roxo intermediário para a barra de progresso */
}

.btn-green body {
  --button-default: #2ECC71; /* Verde Esmeralda */
  --button-hover: #58D683;
  --button-focus: #27AE60;
  --button-pressed: #28B463;
  --button-disabled: #A9DFBF;
  --button-progress: #52BE80;
}


.btn-wood body {
  --button-default: #8B5A2B;  /* Marrom madeira padrão */
  --button-hover: #A97443;    /* Marrom claro (polido) */
  --button-focus: #6E3E1C;    /* Tom mais escuro, foco */
  --button-pressed: #5C3317;  /* Madeira profunda */
  --button-disabled: #C8B49B; /* Bege amadeirado, apagado */
  --button-progress: #B07A3D; /* Tom médio dourado, progresso */
}

.btn-blue body {
  --button-default: #3498DB;
  --button-hover: #5DADE2;
  --button-focus: #2E86C1;
  --button-pressed: #2874A6;
  --button-disabled: #A9CCE3;
  --button-progress: #5DADE2;
}

.btn-red body {
  --button-default: #E74C3C;
  --button-hover: #EC7063;
  --button-focus: #C0392B;
  --button-pressed: #CD4235;
  --button-disabled: #FADBD8;
  --button-progress: #E56357;
}

.btn-pink body {
  --button-default: #E83E8C;
  --button-hover: #F06292; 
  --button-focus: #C2185B;
  --button-pressed: #D81B60; 
  --button-disabled: #FCE4EC;
  --button-progress: #EC407A;
}
.btn-orange body {
  --button-default: #FF9900;
  --button-hover: #FFB84D;
  --button-focus: #CC7A00;
  --button-pressed: #D98500;
  --button-disabled: #FFDDAA;
  --button-progress: #FFC066;
}

.btn-black body {
  --button-default: #FF9900;
  --button-hover: #FFB84D;
  --button-focus: #CC7A00;
  --button-pressed: #D98500;
  --button-disabled: #FFDDAA;
  --button-progress: #FFC066;
}
.btn-black body {
  --button-default: #1C1C1C;
  --button-hover: #333333;
  --button-focus: #000000;
  --button-pressed: #000000;
  --button-disabled: #AAAAAA;
  --button-progress: #4D4D4D; 
}

* {
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

body, input, textarea, button {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  
}

html, body, #root {
  background: var(--background);
  color: var(--text-default);
  font-family: 'Poppins', sans-serif;
  /* overscroll-behavior-y: contain; */
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

@keyframes fade-in {
  from { opacity: 0; transform: scale(0.95); }
  to   { opacity: 1; transform: scale(1); }
}

@keyframes fade-in-container {
  from { opacity: 0; transform: scale(1.1); }
  to   { opacity: 1; transform: scale(1); }
}

@keyframes fade-out {
  from { opacity: 1; transform: scale(1); }
  to   { opacity: 0; transform: scale(0.95); }
}

.animate-fade-in {
  animation: fade-in 0.25s ease-out forwards;
}

.animate-fade-container {
  animation: fade-in-container 0.25s ease-out forwards;
}

.animate-fade-out {
  animation: fade-out 0.25s ease-in forwards;
}

.piscando {
  margin-left: -15px;
  animation: piscar 0.5s infinite alternate; 
}

@keyframes piscar {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}