@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #F3F3F3;
  --foreground: #171717;
  --button: #155DFC;
  --buttonHover: #1447E6;
  --bg-subTitle: white; 
  --bg-alert: #51A2FF;
  --text: #eeeeee;
}

.dark body {
  --background: #0a0a0a;
  --foreground: #ededed;
  --button: #7F22FE;
  --buttonHover: #5D0EC0;
  --bg-subTitle: black; 
  --bg-alert: #C4B4FF;
  --text: #eeeeee;

}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}

