@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #D8DDE9;
  --foreground:  #F2F7FA;
  --bg-component: #FFFFFF;
  --text-default: black;
  --bg-subTitle: white; 
  --bg-alert: #FFDDAA;

  --logo1: #18172C;
  --logo2: #FF9900;
  --input-default: white;

  --button-red-default: #E74C3C; /* Vermelho Cereja */
  --button-red-hover: #EC7063;
  --button-red-focus: #C0392B;
  --button-red-pressed: #CD4235;
  --button-red-disabled: #FADBD8;
  --button-red-progress: #E56357;

  --button-green-default: #2ECC71; /* Verde Esmeralda */
  --button-green-hover: #58D683;
  --button-green-focus: #27AE60;
  --button-green-pressed: #28B463;
  --button-green-disabled: #A9DFBF;
  --button-green-progress: #52BE80;

  --button-gray-default: #95A5A6; /* Cinza Neutro */
  --button-gray-hover: #AABEB2;
  --button-gray-focus: #7F8C8D;
  --button-gray-pressed: #88999A;
  --button-gray-disabled: #D5DBDB;
  --button-gray-progress: #BFC9CA;

  --button-blue-default: #3498DB;
  --button-blue-hover: #5DADE2;
  --button-blue-focus: #2E86C1;
  --button-blue-pressed: #2874A6;
  --button-blue-disabled: #A9CCE3;
  --button-blue-progress: #5DADE2;

  --button-orange-default: #FF9900;
  --button-orange-hover: #FFB84D;
  --button-orange-focus: #CC7A00;
  --button-orange-pressed: #D98500;
  --button-orange-disabled: #FFDDAA;
  --button-orange-progress: #FFC066;

  --button-pink-default: "#E83E8C";
  --button-pink-hover: "#F06292"; 
  --button-pink-focus: "#C2185B";
  --button-pink-pressed: "#D81B60"; 
  --button-pink-disabled: "#FCE4EC";
  --button-pink-progress: "#EC407A";

}


.dark body {
  --background: #282841;     /* fundo escuro */
  --foreground: #18172C;
  --bg-component: #1F1E31;
  --text-default: white;     /* texto principal claro */ /* roxo mais escuro para hover */
  --bg-subTitle: #2A2A2A;    /* fundo secundário escuro */
  --bg-alert: #FFDDAA;

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4); /* Cor principal da barra */
    border-radius: 10px; /* Opcional: cantos arredondados no thumb */
  }
}

.btn-purple body {
  --button-default: #9B59B6;   /* Roxo Amethyst */
  --button-hover: #AF7AC5;     /* Roxo claro para o hover */
  --button-focus: #8E44AD;     /* Roxo mais escuro para o focus */
  --button-pressed: #82589F;   /* Um tom um pouco mais escuro que o padrão para o estado pressionado */
  --button-disabled: #D2B4DE;  /* Roxo bem claro para o estado desabilitado */
  --button-progress: #BB8FCE;  /* Roxo intermediário para a barra de progresso */
}

.btn-green body {
  --button-default: #2ECC71; /* Verde Esmeralda */
  --button-hover: #58D683;
  --button-focus: #27AE60;
  --button-pressed: #28B463;
  --button-disabled: #A9DFBF;
  --button-progress: #52BE80;
}

.btn-gray body {
  --button-default: #95A5A6; /* Cinza Neutro */
  --button-hover: #AABEB2;
  --button-focus: #7F8C8D;
  --button-pressed: #88999A;
  --button-disabled: #D5DBDB;
  --button-progress: #BFC9CA;
}

.btn-blue body {
  --button-default: #3498DB;
  --button-hover: #5DADE2;
  --button-focus: #2E86C1;
  --button-pressed: #2874A6;
  --button-disabled: #A9CCE3;
  --button-progress: #5DADE2;
}

.btn-red body {
  --button-default: #E74C3C;
  --button-hover: #EC7063;
  --button-focus: #C0392B;
  --button-pressed: #CD4235;
  --button-disabled: #FADBD8;
  --button-progress: #E56357;
}

.btn-pink body {
  --button-default: #E83E8C;
  --button-hover: #F06292; 
  --button-focus: #C2185B;
  --button-pressed: #D81B60; 
  --button-disabled: #FCE4EC;
  --button-progress: #EC407A;
}
.btn-orange body {
  --button-default: #FF9900;
  --button-hover: #FFB84D;
  --button-focus: #CC7A00;
  --button-pressed: #D98500;
  --button-disabled: #FFDDAA;
  --button-progress: #FFC066;
}

/* * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

input, textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

body, input, textarea, button {
  font-family: 'Poppins', sans-serif;
}

html, body, #root {
  background: var(--background);
  color: var(--text-default);
  font-family: 'Poppins', sans-serif;
  /* overscroll-behavior-y: contain; */
}

/* 1. Define o tamanho da barra de rolagem (largura) */
::-webkit-scrollbar {
    width: 0px; /* Largura para barras verticais */
    height: 0px; /* Altura para barras horizontais */
}

/* 2. Estiliza a "Trilha" (Track) - o fundo da barra */
::-webkit-scrollbar-track {/* Cor de fundo clara */
    border-radius: 10px; /* Opcional: cantos arredondados na trilha */
}

/* 3. Estiliza o "Thumb" (o polegar) - o botão que você arrasta */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* Cor principal da barra */
    border-radius: 10px; /* Opcional: cantos arredondados no thumb */
}

/* 4. Estiliza o Thumb ao passar o mouse (Hover) */
::-webkit-scrollbar-thumb:hover {
    background: #888; /* Cor ligeiramente mais clara ao passar o mouse */
}


@keyframes fade-in {
  from { opacity: 0; transform: scale(0.95); }
  to   { opacity: 1; transform: scale(1); }
}

@keyframes fade-out {
  from { opacity: 1; transform: scale(1); }
  to   { opacity: 0; transform: scale(0.95); }
}

.animate-fade-in {
  animation: fade-in 0.25s ease-out forwards;
}

.animate-fade-out {
  animation: fade-out 0.25s ease-in forwards;
}