@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #D8DDE9;
  --foreground:  #F2F7FA;
  --bg-component: #FFFFFF;
  --text-default: black;
  --bg-subTitle: white; 
  --bg-alert: #FFDDAA;

  --input-default: white;
  --button-default: #FF9900;
  --button-hover: #FFB84D;
  --button-focus: #CC7A00;
  --button-pressed: #D98500;
  --button-disabled: #FFDDAA;
  --button-progress: #FFC066;
  
}

.dark body {
  --background: #282841;     /* fundo escuro */
  --foreground: #18172C;
  --bg-component: #1F1E31;
  --text-default: white;     /* texto principal claro */ /* roxo mais escuro para hover */
  --bg-subTitle: #2A2A2A;    /* fundo secundário escuro */
  --bg-alert: #FFDDAA;       /* roxo vibrante (substitui #51A2FF) */


  --button-default: #FF9900;
  --button-hover: #FFB84D;
  --button-focus: #CC7A00;
  --button-pressed: #D98500;
  --button-disabled: #FFDDAA;
  --button-progress: #FFC066;

}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--background);
  color: var(--text-default);
  font-family: 'Roboto', sans-serif;
}

