.spinner {
  border: 7px solid rgba(116, 110, 226, 0.1);
  border-left-color: blue;
  border-radius: 100%;
  animation: spin 1s linear infinite;
}

.spinnerButton {
  width: 48px;
  height: 48px;
  border: 4px solid blue;
  border-radius: 99px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite, pulse-gap 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse-gap {
  0%, 100% {
    border-left-width: 4px;
    border-right-width: 4px;
  }
  50% {
    border-left-width: 10px;  /* aumenta a abertura */
    border-right-width: 10px;
  }
}


@keyframes spin {
  to { transform: rotate(360deg); }
}